
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-ask-question" class=" " style="display: none" )
		+form-wrap
			+e.title.form-data.h3.ttu.mb-3 Задать вопрос
 
			+input("Не выбрано",'select','Выберите спикера')
			+input("",'textarea','Вопрос для спикера')
			.row

				.col-sm-auto.order-sm-last.mb-2
					+e.BUTTON.btn.btn.btn-primary.btn-block(type="submit"  )  Отправить
				.col.small.mb-2 Вы можете задать любой вопрос спикеру, но прежде чем они будут им доставлены они пройдут предварительную премодерацию.
	// #modal-call 
	//- +b.modal-win--lg(id="modal-edit" class=" " style="display: none" )
	//- 	+reg('Сохранить')
	//- // #modal-call
	
	//- +b.modal-win(id="modal-reg" class=" " style="display: none" )
	//- 		.text-center 
	//- 			.h5 Чат будет доступен в&nbsp;день мероприятия. А&nbsp;сейчас&nbsp;Вы можете 	зарегистрироваться 
	//- 			a.btn.btn-danger(href="#") Регистрация
	// #modal-call
	
 
	+b.modal-win--lg.--white.p-0(id="modal-content"   style="display: none" )
		.modal-inner

	+b.modal-win--lg(id="modal-reg"  style="display: none" )
		+reg()

	// end modals



	