.modal-win {
	// display: block;
	width: 100%;
	position: relative;
	// max-width: 485px;
	// @extend .container;
	max-width: 600px;
	overflow: hidden;


	&--lg {

		max-width: 1456px;
		background-color: var(--body-bg);

		.form-wrap--border {
			padding: 0;
			border: none;
		}
	}
	&--white{
		background-color: #fff;
		color: #494949;
	}
	
	border-radius: rem(5);
	background-color: $body-bg;
	
	@include media-breakpoint-up(xl) {
		padding: rem(30);
	}
	
	padding: rem(20) rem(20);
	
	.modal-content {
		// padding-right: 40px 15px;
	}
	
	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
	
	//modal-speaker start
	&.modal-content {
		overflow: hidden;
		
		@include media-breakpoint-up(md) {
			// padding: 0;
			padding-top: 0;
			padding-bottom: 0;
		}
		
		background-color: #fff;
		max-width: 1260px;
		color: $black;
		
		.row {
			@include roww(40px);
		}
		
		p {
			line-height: calc(26/16);
			margin-bottom: .7rem;
		}
	}
	
	//modal-speaker end
}

.modal-row {
	
	&__imgWrap {
		background: #43454B;
		overflow: hidden;
		display: block;
		@include block(360, 481);
		
		img {
			width: 100%;
			height: 100%;
			@include a-cent;
			object-fit: cover;
			z-index: 1;
		}
		
		&::after {
			content: '';
			width: rem(151);
			height: rem(89);
			@include a-cent;
			background-image: url('../img/svg/cardLogo.svg');
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	
	&__title {
		@extend .h4;
		margin-bottom: .1rem;
	}
	
	&__text {
		font-size: 12px;
		color: rgba($color: #161C28, $alpha: 0.5);
		margin-bottom: rem(24);
	}
	
	&__textCol {
		@include media-breakpoint-up(md) {
			padding-top: rem(34);
			padding-right: rem(50) !important;
			padding-bottom: rem(30);
		}
	}
	
	&__imgCol {
		@include media-breakpoint-up(md) {
			max-width: rem(400);
		}
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;
	
	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;
		
		:hover {
			display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}

.modal-welocome {
	max-width: rem(955);
	padding: 0;
	
	&__head {
		// padding: 0 rem(20);
		padding-right: rem(20);
		background-color: $dark;
		padding-bottom: 0;
		
		@include media-breakpoint-up(sm) {
			padding-left: 0;
			padding-top: 0;
		}
		
		padding-top: rem(20);
		padding-left: rem(20);
		
		.row {
			align-items: center;
		}
	}
	
	&__body {
		padding: rem(20);
		
		color: $dark;
	}
	
	p {
		font-size: rem(20);
	}
	
	.h6 {
		line-height: 1.5;
		max-width: rem(570);
		font-weight: normal;
		padding-top: 1rem;
		padding-bottom: 1rem;
		
	}
	
	img {
		max-width: rem(191);
	}
}

.logo-modal-content{

	p{
		font-size: rem(20);
	}
	&__aside{
		border-left: 1px solid rgba($color: #949494, $alpha: .52);
		display: flex;
		flex-wrap: wrap;
			@include media-breakpoint-up(md) {
			flex-direction: column;
			width: rem(368);
		}
		> * {
			min-height: 50%;
			padding: rem(20);
			@include media-breakpoint-up(md){
					padding: rem(30);
				}
				@include media-breakpoint-up(md) {
					width: 100%;
				}
		}
	}
	&__logo{
		border-bottom: 1px solid rgba($color: #949494, $alpha: .52);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__btns{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__btn{
		@extend .btn;
		@extend .btn-primary;
		width: rem(272);
		margin-bottom: rem(20);
	}
	&__col{
			@include media-breakpoint-up(md){
				
				padding: rem(52);
			}
			padding: rem(20);
	}
	.row{
		// @include roww(0);
		--bs-gutter-x: 0;
	}
}