
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-ask-question" class=" " style="display: none" )
		+form-wrap
			+e.title.form-data.h3.ttu Задать вопрос
 
			+input("Не выбрано",'select','Выберите спикера')
			+input("Вопрос для спикера",'textarea','Вопрос для спикера')
			.row

				.col-sm-auto.order-sm-last.mb-2
					+e.BUTTON.btn.btn.btn-primary.btn-block(type="submit"  )  Отправить
				.col.small.mb-2 Вы можете задать любой вопрос спикеру, но прежде чем они будут им доставлены они пройдут предварительную премодерацию.
	// #modal-call 
	//- +b.modal-win--lg(id="modal-edit" class=" " style="display: none" )
	//- 	+reg('Сохранить')
	//- // #modal-call
	
	//- +b.modal-win(id="modal-reg" class=" " style="display: none" )
	//- 		.text-center 
	//- 			.h5 Чат будет доступен в&nbsp;день мероприятия. А&nbsp;сейчас&nbsp;Вы можете 	зарегистрироваться 
	//- 			a.btn.btn-danger(href="#") Регистрация
	// #modal-call
	
	+b.modal-win(id="modal-signup" class=" " style="display: none" )
		+form-wrap
			+e.input-wrap.form-group
				label
					+b.SPAN.input-title Страна
					+e.SELECT.input.form-control
						option Россия
						option Казахстан
						option Азербайджан
			+e.input-wrap.form-group
				label
					+b.SPAN.input-title Дата
					+e.SELECT.input.form-control
						option 16 октября  
						option 17 октября
			+e.input-wrap.form-group
				label
					+b.SPAN.input-title Время
					+e.SELECT.input.form-control
						option 14:00
						option 14:30
						option 15:00
						option 15:30
						option 16:00
						option 16:30
						option 17:00
						option 17:30
			+e.btn(type="submit") Записаться


	+b.modal-win(id="modal-content" class="modal-content" style="display: none" )
		.modal-inner

	// end modals