mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container-fluid
			.row 
				.col-section.col-lg-auto
					+b.section-title-vertical
						+e.inner
							h2( ) КОНТАКТЫ
							+e.shadow КОНТАКТЫ
				.col-main.col
					+e.body
						.h3.strong.mb-3 Ассоциация РОАД
						+e.item 
							+e.item-title Адрес: 
							+e.item-text 107031, Россия, г. Москва, ул.Кузнецкий мост, д. 21/5, ГСП-6

							
						//- +e.item 
						//- 	+e.item-title Метро:
						//- 	+e.item-text «Выставочная», «Деловой центр»
						+e.item 
							+e.item-title Телефон:
							+e.item-text: a.text-body(href="tel:+7(495)211-29-88") +7 (495) 211-29-88
						+e.item 
							+e.item-title E-mail:
							+e.item-text: a.text-body(href="mailto:asroad@asroad.org") asroad@asroad.org
					+e.footer
						+soc
						+e.copy © Все права защищены, Ассоциация РОАД
	// end sContact