
	// start .sCabinet
	.sCabinet {
		padding-top: var(--logo-size);
		padding-bottom: rem(0);
		@include media-breakpoint-up(lg) {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		.container-fluid{
			display: flex;
			flex-direction: column;

		}
		.container-fluid,
		&__row{
			flex-grow: 1;
			min-height: 100%;
		}
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {
		&__col-aside{
			border-right: 1px solid rgba($color: #fff, $alpha: .2);
		}
		&__col-main{
			padding-left: 0;
		}
		&__title{
			position: absolute;
			top: calc(var(--logo-size) + #{rem(0)});
		}
	}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
	&__head{
		position: relative;
		&::before{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100vw;
			height: 1px;
			background-color:   rgba($color: #fff, $alpha: .2);
		}
		margin-bottom: rem(30);
	}
	&__head,
	&__body{
		padding-inline-start: var(--cabinet-start);
		margin-bottom: rem(30);
	}
} // end.sCabinet

.sCabinet-nav{
	margin-bottom: 0;
	display: flex;
	// max-width: rem(450/);
	list-style: none;
	margin-bottom: -1px;
	li{
		// flex-grow: 1;
		margin-right: rem(40);
	}
	&__link{
		display: block;
		padding: rem(14) 0;
		border-bottom: 1px solid transparent;
		text-align: center;
		font-weight: bold;
		color: #ffffff;
		&:hover,
		&.active{
			color: $primary;
			border-color: currentColor;
		}
	}
}

.sCabinet-sidebar{
		@include media-breakpoint-up(lg){
			padding-top: rem(60);
		}
	padding-bottom: rem(30);
	@include media-breakpoint-up(sm){
		min-height: 100%;
		
	}
	&__img-wrap{  
		// backdrop-filter: blur(20px); 
		border-radius: 8px;
		@include media-breakpoint-up(sm){

			width: 176px;
			height: 206px;
			margin-bottom: 0;
		}
		width: rem(60);
		height: rem(60);
		position: relative;
		overflow: hidden;
		margin-bottom: rem(30);

	}
	&__title{
		@extend .h5;
		font-weight: bold;
		margin-bottom: rem(20);
	}
	&__text{
		margin-bottom: rem(10);
	}
	&__block{
		max-width: rem(272);
		border-top: 1px solid rgba($color: #fff, $alpha: .2);
		border-bottom: 1px solid rgba($color: #fff, $alpha: .2);
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin-bottom: rem(30);
	}
}



@include media-breakpoint-down(sm) {
	.public-chat-header {
		// display: none;
	}

	.chat-message {
		padding-right: 0;
	}
 
}




.public-chat-messages {
	@include media-breakpoint-up(md) {
		padding: 0; 
	}
	.item{
		padding:  rem(13) rem(15); 
		* {
			margin-top: 0;
			padding-top: 0;
		}
		@include mt;
		&:hover,
		&.active{
			  background: $primary;
		}
	}
	padding: rem(15) 0;
}

.public-chat {
	// margin-right: -1rem;
	padding: 0;
}

.public-chat-header {
	padding: rem(24) rem(18);
}

.public-chat-messages {
	overflow: hidden;
	overflow-y: auto;
	height: rem(493);
	@extend .custom-scroll;

}

.public-chat-form {
	@include media-breakpoint-up(md) {
		padding-left: rem(20);
		padding-right: rem(20);
		padding-bottom: rem(20);
	}

	padding-left: rem(15);
	padding-right: rem(15);
	padding-bottom: rem(15);
}
.chat-block{
	background: var(--chat-messenger-bg);
	position: relative;
	/* 3 */

	box-shadow: 0px 53.6471px 67px -11.6235px rgba(0, 0, 0, 0.21);
	position: relative;
	// overflow: hidden;
	// width: rem(736);
&__col-users {
	// border-radius: 20px;
	max-width: none;
	@include media-breakpoint-down(md) {
		overflow: hidden;
		max-width: calc(#{rem(30)} + 30px);
		width: calc(#{rem(30)} + 30px);
		z-index: 2;

		&:hover {
			overflow: inherit;
			// width: auto;
		}

		.public-chat {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			max-width: none;

		}
	}

	 
	position: relative;

	.public-chat {
		color: #ffffff;
		background: var(--chat-bg);
		// border-radius: 20px;
		width: rem(300);
		text-align: left;
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.col {
		max-width: calc(100% - 45px);


	}

	.public-chat-message-name {
		@include ellips; 
	}
	.chat-block__time{
		font-weight: 500;
		font-size: 10px; 
		letter-spacing: 0.26em;
		text-transform: uppercase;

		color: #FFFFFF;

		opacity: 0.5;
	}
	.public-chat-messages {
		height: calc(#{rem(493)} - 30px);
	}

	.public-chat-pinned {
		.d-flex {
			margin-bottom: rem(25);
			cursor: pointer;
		}
	}

	.public-chat-message-photo-wrapper {
		width: rem(39);
		height: rem(39);
		flex: 0 0 rem(39);
	}
}
}

.d-flex.mw-100 .row {
	@include roww(5px);
	flex-wrap: nowrap;
	justify-content: space-between;
}
.chat-message {
	margin-bottom: rem(5);
	max-width: rem(600);
	padding-right: rem(16);
}

.chat-message-description {}

.chat-message-description {
	font-size: rem(14);
	opacity: 0.5;
	color: var(--body-bg);
	// opacity: 0.7;

	&--sentTo {
		display: flex;

		&::before {
			content: url(../img/svg/check-chat.svg);
			margin-right: rem(2);
		}
	}

	&--read {
		&::after {
			content: url(../img/svg/check-chat.svg);
			order: -1;
			margin-right: rem(-9);
		}
	}
}

.chat-message-text-wrapper {}

.chat-message-text {
	margin-bottom: 1rem;
	font-size: 14px;
	line-height: 130%;
}

.chat-message-text-wrapper {
	@include media-breakpoint-up(sm) {
		padding: rem(10) rem(20) rem(1);
	}

		padding: rem(10) rem(10) rem(1);
	margin-bottom: rem(10);
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 100%;
	}
} 

// end.sCabinet

.chat-message-text-wrapper--left {
	border-radius: var(--chat-message-text-wrapper--radius) var(--chat-message-text-wrapper--radius) var(--chat-message-text-wrapper--radius) 0px;
	background: var(--chat-message-text-wrapper--left-bg);
	&::after {
		@include triangle(12px 8px, var(--chat-message-text-wrapper--left-bg), up-left);
		left: 0;
	}


}

.chat-message--right {
	margin-left: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	// justify-content: flex-end;
}

.chat-message-text-wrapper--right {
	border-radius: var(--chat-message-text-wrapper--radius) var(--chat-message-text-wrapper--radius) 0 var(--chat-message-text-wrapper--radius);
	background-color:var(--chat-message-text-wrapper--right-bg);

	&::after {
		@include triangle(12px 8px,var(--chat-message-text-wrapper--right-bg), up-right);
		right: 0;
	}

	// transform: matrix(-1, 0, 0, 1, 0, 0);
	margin-left: auto;
}

.chat-message-file-wrapper {
	border-radius: 0;
	background: #8F9BB3;
	cursor: pointer;

	@include media-breakpoint-up(sm) {
		padding: rem(18) rem(27);
		max-width: rem(227);
	}

	max-width: rem(200);
	padding: rem(14) rem(16);
	display: flex;
	align-items: center;
	color: #ffffff;
	max-width: rem(227);
	margin-bottom: rem(14);

	.icon {
		font-size: rem(31);
		margin-right: rem(20);
	}

	&__size {
		opacity: 0.5;
		font-size: rem(12);
	}
}

.public-chat {
	.icon-check-read {
		stroke: currentColor;
		fill: transparent;
		color: $primary;
		font-size: rem(12);
		margin-right: rem(9);
	}
}


.search-block {
	flex-grow: 1;
	position: relative;
	margin-right: 1rem;

	input {
		background: #030A0F;
		border: 1px solid #030A0F;
		border-radius: 4px;
		padding: rem(10) rem(17);
		border-radius: 4px;

		@include media-breakpoint-up(md) {
			padding-left: rem(17);
			padding-right: rem(40);
		}

		padding-left: rem(50);
		padding-right: rem(17);

		width: 100%;
		outline-color: rgba($color: $primary, $alpha: .5);
	}

	button {
		background: none;
		border: none;
		box-shadow: none;
		position: absolute;

		@include media-breakpoint-up(md) {
			left: auto;
			right: rem(10);
		}

		left: rem(10);
		@include a-cent(y);

		.icon {
			color: $primary;
			font-size: rem(22);
		}
	}
}

.public-chat {
	// color: #ffffff;  
	min-height: 100%;

	.icon {
		color: #ffffff;
	}
}

.public-chat-form-input {
	background-color: transparent;
}

.sCabinet__col-users .public-chat {}