.pixel-perfect {
	top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	// opacity: 0.7;
} 

body,
html {

	font-size: var(--fontSizeBase);
	// @include font-size(1rem);
	// overflow-x: hidden;
}
html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
}

body {
	min-width: 360px; 
	-webkit-font-smoothing: antialiased;
	position: relative;
	overflow-x: hidden; 
	
	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: $body-bg;
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;

	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.main-wrapper { 
	display: flex;
	flex-direction: column; 
	// overflow: scroll;
	// width: 100%; 
	// height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	
	
}
// .main-wrapper__inner{
// 	// overflow-x: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	min-width: 0;
// 	min-height: 100vh;
// 	flex-grow: 1;
// }




.tab-radio-content:not(.active) {
	display: none;
}

.section {
	@include bgs;
	position: relative;
	color: var(--body-color);
}

.section__inner{
	
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	padding-bottom: var(--sTPB);
}



.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2; 
	cursor: pointer; 
	&.l {
		left: 0; 
		svg {
			@include transform(rotateY(180deg));
		}
	} 
	&.r {
		right: 0; 
	} 
	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}


.tabs {
	&__caption{
		position: relative;
		display: flex;
	 
	}
	&__btn {
				display: 500;
				padding: rem(14) rem(14);
				font-size: rem(20);
				border-bottom: 1px solid transparent;
				text-align: center;
				font-weight: bold;
				color: #ffffff;
				margin-right: rem(20);
				@include mt;

				&:hover,
				&.active {
					color: $primary;
					border-color: currentColor;
				}
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}
.control-wrap{
	position: relative;
	width: rem(90 + 59);
	height: var(--swiperArrowSize);
	@include media-breakpoint-up(lg){
		margin-top: 0;
	}
	margin-top: 30px;
	margin-bottom: calc(var(--inline-start) + #{rem(46)});
	margin-right: rem(20);
}
.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background:transparent;
	border: none;
	color: var(--swiperColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	@include mt;
	user-select: none;

	&:hover {
		background-color: var(--swiperBgDefHover);
		border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(26);
		fill: transparent;
		stroke: currentColor;
	}

	&::after {
		display: none;
	} 
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);

		&-active,
		&:hover {
			background-color: var(--bs-primary) ;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img{
	// content-visibility: auto;
}
picture {
	display: block;
	img {
		@extend .res-i;
	}

}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

*::selection {
	color: #fff;
	/* Цвет текста */
	background: var(--bs-primary) ;
	/* Цвет фона */
}



.custom-scroll {
	scrollbar-color: var(--bs-primary)  $light;

	scrollbar-width: thin;
	scrollbar-color: var(--bs-primary)  $light;

	&::-webkit-scrollbar-thumb {
		opacity: 1;
		display: block
	}

	&::-webkit-scrollbar-track {
		border: none;
		background-color: $light;
		border-color: $light;
		-webkit-box-shadow: none;
	}

	--scroll-size: 4px;
	&::-webkit-scrollbar {
		width: var(--scroll-size, 2);
		height: var(--scroll-size, 2);
		background-color: $light;
		// border-right: 2px;
		/* or add it to the track */
		border-color: $light;
		opacity: 0;
		-webkit-box-shadow: none;

	}

	/* Add a thumb */
	&::-webkit-scrollbar-thumb {
		background: var(--bs-primary) ;
		border-radius: 2.5px;
	}

	&::-webkit-scrollbar-button {
		display: none
	}
}


.btn-outline-primary,
.btn-primary{
	color: #fff !important;
}
.container-fluid,
.container-lg,
.container{
	@include media-breakpoint-up(lg) {
	margin-left: 0;
}
padding-left: var(--inline-start);
	}

	body:not(.main-page) .container-fluid{
			@include media-breakpoint-up(xxl){
				padding-right: rem(72);
			}
	}

	.main-wrapper{
		@include media-breakpoint-up(lg) {

				margin-inline-start: var(--logo-size);
				border-left: 1px solid rgba($color: #fff, $alpha: .1);
			}
		overflow: hidden;
	}

	.col-section{
			@include media-breakpoint-up(lg){

				width: var(--title-w);
			}
		
	}
	.col-main{
			@include media-breakpoint-up(lg) {

				width: calc(100% - var(--title-w));
			}
	}
	.section-title-vertical{
			@include media-breakpoint-up(lg){

				// margin-left: calc(-1 * var(--inline-start));
				min-height: 100%;
			}
		// position: relative;

		&__inner {

					@include media-breakpoint-up(lg){
						position: absolute;
						transform: rotate(-90deg);
						transform-origin: top left;
						z-index: 2;
						z-index: 5;
					left: 0;
					top: 100%; 
					margin-bottom: 0;
				} 
				margin-bottom: 2rem;
		}
		&__shadow{
			z-index: 1;
			// position: absolute;
				@include media-breakpoint-down(lg) { 
					margin-bottom: 0; 
					position: absolute;
				} 
				// margin-bottom: rem(-40);
				// margin-bottom: -.5em;
			@include media-breakpoint-up(xxl) {
				font-size: rem(280);
				margin-top: em(-14);
			}
			@include rfs(200px);
			font-weight: 900;
			opacity: 0.1;
			line-height: (341 / 280);
			margin-top: em(-13);
		}

		h2 {
			font-weight: 900;
			position: relative;
			z-index: 2;

				@include media-breakpoint-up(xl){
					font-size: rem(70);
				}
				@include media-breakpoint-up(lg){
					margin-top: rem(40);
					height: rem(156);
					text-align: right;
				}
			margin-right: em(-10);
		}
	}


	.btn{
		font-weight: bold;
	}

		.section-bg{
			--top: var(--logo-size);
			@include media-breakpoint-up(xl){
			}
			// --top: 0;
			position: absolute;
			z-index: 1;
			background-color: $dark;
			z-index: -1;
			left: 0;
			width: 100%;
				@include media-breakpoint-up(xl) {

					top: var(--top,0);
					height: calc(100% - var(--top,0));
				}
				top: 0;
				height: calc(100%  );
		}

		.page-head{
			padding-top: rem(40);
			--sPB: #{rem(10)};
			h1{
				font-weight: 900;
				max-width: rem(800);
				// @include rfs(70px);
			}
			& + * .section__inner {
				padding-top: 0;
			}
		}


		.smallest{
			font-size: $smallest;
		}

		.btn-md{
			font-size: rem(20);
			padding: rem(20) rem(10);
		}

		.photo-block{
			border: 1px dashed #2988E1;
			@include mt;
			&:hover{
				border-color: rgba($color: $primary, $alpha: .5);
			}
			box-sizing: border-box;
			border-radius: 8px;
			margin-bottom: rem(40);
			max-width: 100%;
			@include media-breakpoint-up(xxl) {

				width: rem(271.29);
				height: rem(317.04px);
			}
			width: rem(271.29 * .8);
			height: rem(317.04 * .8);
			display: flex !important;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			text-align: center;
			cursor: pointer;
			&__title{
				max-width: rem(145);

			}
			&__foot{
				font-size: $smallest;
				opacity: 0.5;
				max-width: rem(110);
			}
			input{
				position: absolute;
				@include a-cent;
				@extend .invisible;
			}
			position: relative;
			.icon-close{
				font-size: 1rem;
				position: absolute;
				color: #fff;
				right: 10px;
				top: 10px;
				stroke: currentColor;
			}
			img{
				max-width: 90%;

			}
		}


		.link-back{
			@include media-breakpoint-up(lg) {
				top: 0;
				left: calc(var(--logo-size)/ 2 );
				transform: translateX(-50%);
				margin-top: calc(var(--logo-size) + #{rem(64)});
				position: fixed;
			}
			font-size: rem(32);
			color: $body-color !important;
			display: inline-block;
			margin-bottom: 2rem;
			.icon{
				stroke: currentColor;
				font-size: rem(32);
			}
			
		}

		.btn-top{
			position: fixed;
			left: calc(var(--logo-size)/ 2 );
			transform: translateX(-50%);
			bottom: rem(60);
			cursor: pointer;
				@include media-breakpoint-down(lg){
					display: none;
				}
		}

.row--lg{
	--bs-gutter-x: #{rem(40)};
}

.copy-block{
	border: 1px solid #949494; 
	border-radius: 8px;
	padding: rem(12) rem(12);
	margin-bottom: rem(40);
	.icon{
		font-size: 1rem;
		color: #fff;
	}
	.row{
		align-items: center;
		--bs-gutter-x: #{rem(30)};
	}
	.col{
		max-width: calc(100% - #{rem(170px)});
	}
	.btn{
		border-radius: 8px;
		font-size: 1rem;
		padding: rem(10) rem(10);
	}
	.smallest{
		color: #949494;
	}
	&__link{
		@include ellips;
	}
}

.container-fluid .container{
	padding-left: 0;
	padding-right: 0;
}

.main-row__questions-col {
	.section-title{
		padding-bottom: 1.8rem;
	}
	.btn{
		width: 270px;
	}
}