// start .sStream
.sStream {
	--sPB: #{rem(35)};
	padding-bottom: var(--sPB);
	// --

	&__wrap {
		margin-bottom: rem(30);
		--body-bg: #000;
		background-color: var(--body-bg);
		.row {
			--bs-gutter-x: 0;
		}
 

		box-shadow: 0px 53.6471px 67px -11.6235px rgba(0, 0, 0, 0.21);
	}
	.public-chat-header{
		border-bottom: 1px solid rgba($color: #8F9BB3, $alpha: .2);
		color: var(--body-color);
		padding-bottom: 1rem;
	}
	.public-chat-header,
	.public-chat-messages,
	.public-chat-form{
		padding-left: rem(30);
		padding-right: rem(30);
	}
	.public-chat{
		
		padding-top: rem(10);
		padding-left: 0;
		padding-right: 0;
		padding-right: 0;
	}
	.public-chat-header-count:before {
		background-image: url(../img/svg/bx_bx-comment.svg);
	}

	&__video-wrap { 
		overflow: hidden;
		@include block(1165, 655);
		min-height: 100%;

		iframe {
			position: absolute;
			left: 0;
			top: 0;
			width: 100% !important;
			background-color: var(--body-bg);
			height: 100% !important;
		}

		&--page {
			min-height: 1px;
			margin-bottom: rem(47);
		}
	}

	&__col {
		@include media-breakpoint-up(xxl) {
			max-height: rem(650);
		}
		
		@include media-breakpoint-up(xl) {
			max-height: rem(480);
			width: rem(370);
		}
		max-height: rem(450);

		@include media-breakpoint-up(lg) {

		}


		&--page {
			max-height: none;
		}
	}

	.player-play-button {
		display: none !important;
	}

	&__title {
		@include rfs(25px);
		line-height: 1;
		letter-spacing: 0.04em;
		font-weight: 500;
		max-width: rem(605);
		margin-bottom: 1rem;
	}

	&__head {
		padding-bottom: rem(36);

		.d-flex.align-items-center {}
	}

	.live-track-info-vote {
		cursor: pointer;
		line-height: 2;
		@include mt;
		opacity: 1;
		&.disabled {
			// opacity: 0.7;
		}

		&:hover {
			opacity: 1;
		}

		img {
			margin-right: rem(10);

		}
	}

	.text-primary {
		img {
			position: relative;
			top: rem(-4);
		}
	}

	&__like-wrap {
		@include roww(24px);

	}

	&__line {
		// margin-bottom: rem(20);
		padding-top: rem(0);
	}

	&__text {
		// max-width: rem(863);
		opacity: 0.7;
		font-weight: 300;
		margin-bottom: rem(12);
		max-width: rem(1343);
	}

	&__data { 
	}

	ul {
		@include media-breakpoint-up(sm) {

			padding-left: rem(30);
		}

		list-style: none;

		li {
			position: relative;
			padding-left: rem(30);
			margin-bottom: 1em;
			max-width: rem(650);

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: rem(10);
				width: 7px;
				height: 7px;
				background: $danger;
				border-radius: 50%;
			}
		}
	}

	&__block {
		margin-bottom: rem(24);

		&--logo-wrap {
			background: #FFFFFF;
			border: 1px solid #EDE7E3;
			box-sizing: border-box;
			border-radius: 4px;

			@include media-breakpoint-up(sm) {

				height: rem(350);
			}

			display: flex;
			justify-content: center;
			align-items: center;
			padding: rem(30) rem(15);
		}

	}

	&__group-btn {
		display: flex;
		height: rem(76);
		display: flex;
		// justify-content: center;
		align-items: center;

		@include media-breakpoint-up(sm) {

			padding-left: rem(35);
		}

		padding-left: rem(15);
		color: #ffffff;

		&:first-child {
			border-radius: 4px 4px 0 0;
			margin-bottom: 1px;
		}

		&:last-child {
			margin-top: 1px;
			border-radius: 0 0 4px 4px;
		}

		img {
			@include media-breakpoint-up(sm) {

				margin-right: rem(25);
			}

			margin-right: rem(15);
		}
	}

	&__block--contact {
		border: 1px solid #E1E4E9;
		box-sizing: border-box;
		border-radius: 4px;
	}

	&__block-head,
	&__block-body {
		@include media-breakpoint-up(sm) {

			padding: rem(20) rem(35);
		}

		padding: rem(15) rem(15);
	}

	&__block-head {
		border-bottom: 1px solid #E1E4E9;
		font-weight: bold;

		.icon {
			font-size: rem(24);
			margin-right: rem(19);
		}
	}

	&__body {
		padding-bottom: rem(20);
	}

	&__file {
		// @extend .text-body;
		display: block;
		color: $body-color;

		&:hover {
			color: $primary;
		}

		margin-bottom: rem(20);

		.row {
			align-items: center;
		}

		.icon {
			font-size: rem(24);
		}
	}

	&__slider {
		overflow: inherit;
		margin-left: auto;
		margin-right: auto;
		max-width: rem(526);
	}

	&__slide {
		border-radius: 4px;
		position: relative;
		overflow: hidden;
		@include mt;
		max-width: 100%;
		// box-shadow: 0px 4px 100px rgba(0, 0, 0, 0);

		&.swiper-slide-active {

			// box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
		}
	}

	&__img-wrap {
		@include block(660, 448);

		// width: rem(660);
		// height: rem(448);
		// width: 100%;
		img {
			object-fit: cover;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

	.icon-feather_send{
		color: $primary;
	}
	.public-chat-form-input{
		background-color: transparent;
		font-size: 14px;
	}

	.public-chat-message-name{
		font-weight: normal;
		font-size: rem(14);
		opacity: 0.5;
	}
 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

}

// end.sStream
