mixin sStream()
	// start sStream
	+b.sStream.section.pt-0#sStream&attributes(attributes)
		.container-fluid
			+e.wrap
				.row
					.col-xl-8
						+e.video-wrap
								script(src='https://broadcast.comdi.com/player/js/embed.min.js', data-comdi-event='r5ftb9xd', data-login='anonymous', data-registration='{"email":"anonymous@startupvillage.ru"}', lang='ru', async='')

					+e.col.col-xl
						.public-chat.d-flex.flex-column
							input(type='hidden', value='307befb6-b8bf-469c-860e-7eb1504f594c')
							// 
							.public-chat-header
								h2.public-chat-header-title
									| Чат 
							 
								//- .ps__rail-x(style='left: 0px; bottom: 0px;')
								//- 	.ps__thumb-x(tabindex='0', style='left: 0px; width: 0px;')
								//- .ps__rail-y(style='top: 0px; right: 0px;')
								//- 	.ps__thumb-y(tabindex='0', style='top: 0px; height: 0px;')
							.public-chat-messages.ps.ps--active-y
								//- .ps__rail-x(style='left: 0px; bottom: -21209px;')
								//- 	.ps__thumb-x(tabindex='0', style='left: 0px; width: 0px;')
								//- .ps__rail-y(style='top: 21209px; right: 0px; height: 282px;')
								//- 	.ps__thumb-y(tabindex='0', style='top: 279px; height: 3px;')
								.public-chat-message
									.public-chat-message-date
										| 19:10
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/f5/a3fa6ca16b99cc2a2a39f2f20a10d0.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Polina Gulyaeva
											.public-chat-message-text
												| Здравствуйте, запускаю НЕЗАВИСИМЫЙ НАУЧНЫЙ АКСЕЛЕРАТОР!   Если вам интересно стать частью комплексного емкого интеллектуального проекта, присоединяйтесь!   Если Вы молодой ученый или у вас инновационные крутые идеи, напишите мне - этот проект для Вас!   Если Вы СМИ, инфоресурс и хотите написать о нас — мы с радостью поделимся идеей и миссией!   Если Вы могли бы стать для нас ментором или организовать взаимодействие с Вашей средой доверия, мы оправдаем ожидания и вложенное время.   С уважением и огромным желанием делать полезное дело!
								.public-chat-message
									.public-chat-message-date
										| 19:12
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/f5/a3fa6ca16b99cc2a2a39f2f20a10d0.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Polina Gulyaeva
											.public-chat-message-text
												| Ищем стартапы для 2 инвесторов, организуем коммуникацию предпринимателей Москвы с Правительством Столицы, ищем коммуникации с госорганами и институтами развития, а также менторство и любую поддержку!
								.public-chat-message
									.public-chat-message-date
										| 19:50
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/7e/be89ceb9f9848458c370d04e34cc81.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Pavel Kalmaev
											.public-chat-message-text
												| Делаем глобального AI робота - виртуального помощника в тревеле, и несколько стартапов в VR с полностью готовым продуктом. Инфо в моем ФБ и линкедине
								.public-chat-message
									.public-chat-message-date
										| 20:00
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/aa/5539ab1c0c8b54855a623881841bc2.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Alexander Skalov
											.public-chat-message-text
												| Планирую создание франшизы «Парк инновационных развлечений AeroJunkY». Упор на сверхлегкую авиацию, технологии, развлечения для всей семьи.
								.public-chat-message
									.public-chat-message-date
										| 22:46
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/fd/e53404518cc5389de37e213e0642b1.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Radmir Khusnutdinov
											.public-chat-message-text Здравствуйте, Polina Gulyaeva! С Вами можно как-то обменяться информацией?
								.public-chat-message
									.public-chat-message-date
										| 08:39
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/90/4779f42f2e14dc9b55c81985638252.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Ирина Гаврикова
											.public-chat-message-text
												| Радмир, добрый день! Всем участникам можно написать личное сообщение. Найдите контакт в разделе "Участники" и напишите сообщение."
								.public-chat-message
									.public-chat-message-date
										| 09:32
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/c3/eaade79a77cd2861648b80c45f66a4.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Nikolay Chernov
											.public-chat-message-text
												| Добрый день. Наш проект плазмнно вихревая утилизация углерод содержащих отходов. Кому интересно милости просим
								.public-chat-message
									.public-chat-message-date
										| 09:43
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/39/8d484553c0d6c04c5b51a038680c73.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Vadim Evgrafov
											.public-chat-message-text
												| Всем хорошего дня, удачных походов в мир виртуальной реальности, тут есть что спрятано из реальности! Найдите друг друга...и Мир улыбнётся нам всем!
								.public-chat-message
									.public-chat-message-date
										| 10:03
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/f0/3787b947cb11a34199bd130246c101.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Evgeniy Potemkin
											.public-chat-message-text Посмотрим, посмотрим...:)
								.public-chat-message
									.public-chat-message-date
										| 10:06
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/17/faaacc64428d3061293aa9a4513d47.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Md. Anisur Rahman
											.public-chat-message-text Have a nice day. Our project is smart solution for Digital Health
								.public-chat-message
									.public-chat-message-date
										| 10:06
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/37/fa99db2a6377dd7eb2195d86b9ddc3.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Oleg Belyaev
											.public-chat-message-text Всем привет!
								.public-chat-message
									.public-chat-message-date
										| 10:11
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/5c/1e2697ff9735f5022186c9818e5a02.jpeg')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Yevgeniy Obleskov
											.public-chat-message-text Приветствую!
								.public-chat-message
									.public-chat-message-date
										| 10:11
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/f5/a3fa6ca16b99cc2a2a39f2f20a10d0.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Polina Gulyaeva
											.public-chat-message-text
												| Независимый Научный Акслелератор: подберем стартап инвестору под Ваши требования и задачи!
								.public-chat-message
									.public-chat-message-date
										| 10:11
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/9d/f7337bd53225b3d817f6c85d4a20f2.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| ANTON KURKIN
											.public-chat-message-text Доброе утро друзья и коллеги! Всем хорошего настроения и удачного дня!!! ;-)
								.public-chat-message
									.public-chat-message-date
										| 10:12
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/96/ca3070d415f0888e8ef4a0c6d24b42.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Organizer
											.public-chat-message-text Пожалуйста, присылайте вопросы в разделе «Вопросы спикерам».
								.public-chat-message
									.public-chat-message-date
										| 10:12
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/08/b77066f8fc2982b2fc840d7cb1c093.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Ekaterina Calzavara
											.public-chat-message-text Доброе утро!
								.public-chat-message
									.public-chat-message-date
										| 10:12
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/96/a36da058f7c8a93859708cc39e2913.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Sergei Ershov
											.public-chat-message-text Всем Hello!))
								.public-chat-message
									.public-chat-message-date
										| 10:12
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/41/1e1e78f1639ea72661db163fdb73cb.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Tatiana Indina
											.public-chat-message-text Привет привет!
								.public-chat-message
									.public-chat-message-date
										| 10:13
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/42/9c5cb598efd204e2b2d5122afed605.jpeg')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Pavel Kozlov
											.public-chat-message-text 🙂 
								.public-chat-message
									.public-chat-message-date
										| 10:14
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/9d/f7337bd53225b3d817f6c85d4a20f2.png')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| ANTON KURKIN
											.public-chat-message-text
												| Подскажите пожалуйста, насколько реально в рамках данной площадки предложить инвесторам свой проект?!
								.public-chat-message
									.public-chat-message-date
										| 10:14
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/55/dc3c125175c5a2679fb0d50dad88d4.jpeg')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Viktoriya Skrylʹnikova
											.public-chat-message-text Всем привет!!!
								.public-chat-message
									.public-chat-message-date
										| 10:14
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/55/dc3c125175c5a2679fb0d50dad88d4.jpeg')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Viktoriya Skrylʹnikova
											.public-chat-message-text Реально
								.public-chat-message
									.public-chat-message-date
										| 10:14
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/55/dc3c125175c5a2679fb0d50dad88d4.jpeg')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Viktoriya Skrylʹnikova
											.public-chat-message-text Пишите во вкладке СПИКЕРЫ
								.public-chat-message
									.public-chat-message-date
										| 10:14
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/5c/1e2697ff9735f5022186c9818e5a02.jpeg')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Yevgeniy Obleskov
											.public-chat-message-text спросили на сколько)
								.public-chat-message
									.public-chat-message-date
										| 10:14
									.d-flex.mw-100
										.public-chat-message-photo-wrapper
											img.public-chat-message-photo(src='https://storage.yandexcloud.net/sv-2020/uploads/02/a5f41ce89b1eac66138653c22edd94.jpeg')
										div(style='width: calc(100% - 3.75rem);')
											.public-chat-message-name
												| Manas Dzhanybekov
											.public-chat-message-text
												| Добрый день ! Ищу интересные стартапы в сфере IT. Предложения присылайте на почту light
 
							.d-none
								// блок если не вошел
								.mt-auto.px-1-5.py-1
									| Для отправки сообщений
									a(href='/login?_target_path=/live') Войдите
									|  или
									a(href='/registration') Зарегистрируйтесь
									| .
							form.public-chat-form 
								input.public-chat-form-input(type='text', placeholder='Написать сообщение')
								button.public-chat-form-btn(type='submit')
									+icon("uil_smile")
								button.public-chat-form-btn(type='submit')
									+icon("feather_send")
			 
			.col-xl-12.g-0
				+e.line.row
					.col-sm-auto.py-1: +e.data.strong.text-primary 18.08.2020 14:30
					.col.h3.strong.pb-1 Название Трека в одну строку

					.col-sm-auto
						+e.like-wrap.d-flex.align-items-center.small
							.live-track-info-vote.d-flex.align-items-center.voted
								img(src='img/live/dislike-lg.svg')
								| 5
							.live-track-info-vote.d-flex.align-items-center
								img(src='img/live/like-lg.svg')
								| 13 
				+e.text Станет виртуальным событием и главным бесплатным техноло гическим мероприятием   станет виртуальным событием  станет виртуальным событием и главным бесплатным Станет виртуальным событием и главным бесплатным техноло гическим мероприятием   
			

	// end sStream

mixin sStream9()
	// start sStream
	+b.sStream.section.pt-0#sStream&attributes(attributes)
		.container 
			+e.wrap-page
				.row
					.col-lg
						+e.video-wrap--page
								script(src='https://broadcast.comdi.com/player/js/embed.min.js', data-comdi-event='r5ftb9xd', data-login='anonymous', data-registration='{"email":"anonymous@startupvillage.ru"}', lang='ru', async='')
						p: strong Основанный в&nbsp;1863&nbsp;году, Politecnico di&nbsp;Milano предлагает программы образования в&nbsp;области инженерии, архитектуры и&nbsp;дизайна. В&nbsp;университете работают более 1200&nbsp;преподавателей, учится 40000&nbsp;студентов, распределённых по&nbsp;7&nbsp;кампусам: Милан (Леонардо и&nbsp;Бовиза), Комо, Лекко, Кремона, Мантова и&nbsp;Пьяченца.
						p Университет сосредоточен на&nbsp;качестве преподавания, инновационных подходах в&nbsp;исследованиях, разработке технологических прогрессов. Исследования всегда связаны с&nbsp;обучением и&nbsp;представляют собой приоритет, который позволяет университету достигать высоких результатов на&nbsp;международном уровне и&nbsp;реализовывать их&nbsp;в&nbsp;деловом мире. Это обязательство развивается в&nbsp;трех основных направлениях:
						ul
							li: strong повышение значения исследований в&nbsp;целях обеспечения прочного международного взаимодействия;
							li: strong развитие партнерства с&nbsp;бизнесом для того, чтобы реализовывать научные исследования;
							li: strong изменение условий развития науки и&nbsp;технологий для молодых специалистов с&nbsp;целью их&nbsp;профессионального роста.
						p Миланский политехнический университет признается первым итальянским университетом среди топ-десяти европейских технических университетов и&nbsp;среди топ-20&nbsp;в мире. Университет предлагает программы двойного диплома, программы обмена, 40&nbsp;программ магистратуры и&nbsp;19&nbsp;программ учёной степени полностью на&nbsp;английском языке. Студентам открыт доступ к&nbsp;200 современным и&nbsp;оборудованным лабораториям для научных исследований в&nbsp;области механики, информатики, инженерии, строительства, архитектуры, дизайна.
					+e.col--page.col-lg-auto
						+e.block--logo-wrap
							
							img(src="img/@2x/Exhibition-1.png" loading="lazy", alt="")
						+e.block--group
							+e.group-btn.btn-primary-light(href="#") 
								+e.DIV.icon-wrap
									img(src="img/svg/btn-i-1.svg" loading="lazy", alt="")
								| Начать чат с университетом
							+e.group-btn.btn-primary-light(href="#") 
								+e.DIV.icon-wrap
									img(src="img/svg/btn-i-2.svg" loading="lazy", alt="")
								| Посетить вебинар
							+e.group-btn.btn-primary-light.link-modal(href="#modal-signup") 
								+e.DIV.icon-wrap
									img(src="img/svg/btn-i-3.svg" loading="lazy", alt="")
								| Записаться на консультацию
						+e.block--contact
							+e.block-head
								+icon("bx_bxs-phone")
								| Контакты
							+e.block-body
								p Италия, Эмилия-Романья, Болонья, Сан-Джорджо-ди-Пиано, Кастель-Маджоре
								p.strong: a.text-body(href="tel:+49856689988") +4 985 668 99 88
								p: a(href="mailto:info@infosobaka.com") info@infosobaka.com
								p: a(href="mailto:boloncainstitute.com") boloncainstitute.com
						+e.block--contact
							+e.block-head
								+icon("ant-design_file-filled")
								| Файлы
							+e.block-body
								- for (var x = 0; x < 3; x++)
									+e.file(href="#")
										.row
											.col
												| Buklet 2020 Eng
												.small.text-secondary pdf 2.3 mb
											.col-auto
												+icon("eva_download-outline")
		.section
			+e.slider--js.swiper-container
				.swiper-wrapper
					- for (var x = 1; x < 8; x++)
						+e.slide.swiper-slide
							+e.img-wrap.bg-wrap(href=`img/@2x/slide-${x}.png` data-fancybox="gal")
								img.img-bg(src=`img/@2x/slide-${x}.png`, alt="")
	// end sStream
mixin sStream11()
	// start sStream
	+b.sStream.section.pt-0#sStream&attributes(attributes)
		.container 
			+e.wrap-page
				.row
					.col-lg
						+pic("RUS_2331.jpg")(class="mb-3")
						p Studiare in Italia – это организатор крупнейшей в мире выставки итальянского образования «Учись в Италии! Studiare in Italia”, которая проводится ежегодно с 2012 года в России, Казахстане, Азербайджане.

						p Studiare in Italia - это также команда специалистов по зачислению студентов в учебные заведения Италии. Уже более десяти лет, в тесном сотрудничестве с итальянским посольством, мы успешно консультируем и зачисляем студентов по всем направлениям итальянского образования.
						p Обращайтесь к нам за подробной информацией о государственных и частных вузах, школах и академиях!

						ul
							li: strong   являемся официальным представительством ведущих учебных заведений Италии
							li: strong   помогаем с выбором программы обучения и процедурой зачисления
							li: strong   сопровождаем на этапе апостилирования и легализации образовательных документов
							li: strong   помогаем с получением учебной визы в Италию
							li: strong   консультируем по получению учебного вида на жительство
							li: strong   помогаем со сбором документов на стипендию/сокращение стоимости
							li: strong   сопровождаем на этапе подбора места проживания в Италии

						p Мы знаем все тонкости получения образования в Италии, и сделаем ваше поступление и переезд легким и комфортным!
						p Мы будем рады встретиться с вами в одном из наших офисов или ответить на ваши вопросы по телефону, электронной почте,  WhatsApp или в социальных сетях

					+e.col--page.col-lg-auto
						//- +e.block--logo-wrap
							
						//- 	img(src="img/@2x/Exhibition-1.png" loading="lazy", alt="")
						+e.block--group
							+e.group-btn.btn-primary-light(href="#") 
								+e.DIV.icon-wrap
									img(src="img/svg/btn-i-1.svg" loading="lazy", alt="")
								| Начать чат
							//- +e.group-btn.btn-primary-light(href="#") 
							//- 	+e.DIV.icon-wrap
							//- 		img(src="img/svg/btn-i-2.svg" loading="lazy", alt="")
							//- 	| Посетить вебинар
							+e.group-btn.btn-primary-light.link-modal(href="#modal-signup") 
								+e.DIV.icon-wrap
									img(src="img/svg/btn-i-3.svg" loading="lazy", alt="")
								| Записаться на консультацию
						+e.block--contact
							+e.block-head
								+icon("bx_bxs-phone")
								| Контакты
							+e.block-body
								p Москва и&nbsp;регионы России
									br
									| БЦ&nbsp;&laquo;Сибирский Альянс&raquo;
									br
									| ул. Летниковская, д.16, офис 503
								p.strong: a.text-body(href="tel:+7(495)1519905") +7 (495) 151 99 05
								p.strong: a.text-body(href="https://api.whatsapp.com/send?phone=+79778319796") WhatsApp +7 977 831 97 96
								p: a(href="mailto:info@study-italy.ru") info@study-italy.ru 
								hr
								
								p Санкт-Петербург:

								p.strong: a.text-body(href="tel:+7(812)6124437") +7 (812) 612 44 37

								p.strong: a.text-body(href="https://api.whatsapp.com/send?phone=+79500247042") WhatsApp +7 (950) 024 70 42
								p: a(href="mailto:spb@study-italy.ru") spb@study-italy.ru 
								hr
								p БЦ «Алтын Заман»
									br
									| Казахстан, Алматы, ул. Сейфуллина, 498, офис 306 А


								p.strong: a.text-body(href="tel:+7(727)2245201") +7 (727) 224 52 01

								p.strong: a.text-body(href="https://api.whatsapp.com/send?phone=+7(777)7630771") WhatsApp +7 (777) 763 07 71
								p: a(href="mailto:kz@study-italy.ru") kz@study-italy.ru 
								hr

						+e.block--contact
							+e.block-head
								+icon("ant-design_file-filled")
								| Файлы
							+e.block-body
								- for (var x = 0; x < 3; x++)
									+e.file(href="#")
										.row
											.col
												| Buklet 2020 Eng
												.small.text-secondary pdf 2.3 mb
											.col-auto
												+icon("eva_download-outline")
		.section
			+e.slider--js.swiper-container
				.swiper-wrapper
					mixin slide(x)
						+e.slide.swiper-slide
							+e.img-wrap.bg-wrap(href=`img/@2x/${x}.jpg` data-fancybox="gal")
								img.img-bg(src=`img/@1x/${x}.jpg`, alt="")
					+slide('img-1105')
					+slide('img-1165')
					+slide('img-1191')
					+slide('img-1231')
					+slide('img-1311')
					+slide('img-1395')
					+slide('img-1416')
					+slide('img-1569')
					+slide('RUS_2331')
					+slide('RUS_2489')
					+slide('RUS_2525')
					+slide('RUS_2540')
					+slide('RUS_2559')
					+slide('RUS_2572')
					+slide('RUS_2614')
					+slide('RUS_2636')
					+slide('RUS_2664')
					+slide('RUS_2698')
					+slide('RUS_2824')
					+slide('RUS_2698')
					+slide('RUS_2824')
					+slide('RUS_3013')
	// end sStream