mixin public-chat(data)
	// start public-chat
	+b.chat-block.row.g-0
		+e.col-users.col-auto
			.public-chat.d-flex.flex-column
				input(type='hidden', value='307befb6-b8bf-469c-860e-7eb1504f594c')
				// 
				+b.public-chat-header
					+b.search-block
						input(type="text" placeholder="Поиск ")
						button
							+icon("search")
					.public-chat-header-count.ml-auto.text-primary
						| 35
				.public-chat-pinned.ps
					mixin item(i,t)
						.item&attributes(attributes)
							.row.g-3
								.col-auto
									.public-chat-message-photo-wrapper.me-0
										img.public-chat-message-photo(src=`img/@1x/avatar-${i}.png` alt="" loading="lazy")
										block
								.col
									.row.g-1
										.col
											.public-chat-message-name= t
										+e.time.col-auto 15:50
									.public-chat-message-text Последнее сообщени...
					.public-chat-messages.ps.ps--active-y
						+item("1",'Вячеслав Чморшанский').active
							span.badge.bg-danger 25
						- for (var x = 0; x < 2; x++)
							+item("2",'Юия Кирпа')
							+item("3",'Олег Олаф')
							+item("4",'Марина Олексеева')
							+item("5",'Ким Кин')
							+item("6",'Олег Вертегел')
							+item("7",'Риза Чалиев') 
		.col
						.public-chat.d-flex.flex-column
							input(type='hidden', value='307befb6-b8bf-469c-860e-7eb1504f594c')
								
								//- .ps__rail-x(style='left: 0px; bottom: 0px;')
								//- 	.ps__thumb-x(tabindex='0', style='left: 0px; width: 0px;')
								//- .ps__rail-y(style='top: 0px; right: 0px;')
								//- 	.ps__thumb-y(tabindex='0', style='top: 0px; height: 0px;')
							.public-chat-messages.ps.ps--active-y
								//- .ps__rail-x(style='left: 0px; bottom: -21209px;')
								//- 	.ps__thumb-x(tabindex='0', style='left: 0px; width: 0px;')
								//- .ps__rail-y(style='top: 21209px; right: 0px; height: 282px;')
								//- 	.ps__thumb-y(tabindex='0', style='top: 279px; height: 3px;')
								- for (var x = 0; x <4; x++)
									.chat-message
										.chat-message-text-wrapper.chat-message-text-wrapper--left
											.chat-message-text
												| MTS StartUp Hub – это платформа открытых инноваций включающая в себя акселератор
										.chat-message-description
											| Вячеслав, 13:06 12.04.2020
									+b.chat-message--right
										.chat-message-text-wrapper.chat-message-text-wrapper--right
											.chat-message-text
												| MTS StartUp Hub – это платформа открытых инноваций включающая в себя акселератор
										.chat-message-description.chat-message-description--sentTo.chat-message-description--read 
											| Вы 13:06 12.04.2020
								//- .chat-message
								//- 	+b.chat-message-file-wrapper
								//- 		+icon("ion_document")
								//- 		+e.caption
								//- 			+e.name Filename.pdf
								//- 			+e.size 12 mb 
								//- 	.chat-message-description
								//- 		| Вячеслав, 13:06 12.04.2020
								//- +b.chat-message--right
								//- 	+b.chat-message-file-wrapper
								//- 		+icon("ion_document")
								//- 		+e.caption
								//- 			+e.name Filename.pdf
								//- 			+e.size 12 mb
								//- 	.chat-message-description.chat-message-description--sentTo
								//- 		| Вы 13:06 12.04.2020
							.d-none
								// блок если не вошел
								.mt-auto.px-1-5.py-1
									| Для отправки сообщений
									a(href='/login?_target_path=/live') Войдите
									|  или
									a(href='/registration') Зарегистрируйтесь
									| .
							form.public-chat-form
								//- button.public-chat-form-btn(type='submit')
								//- 	+icon("ion_attach-outline")
								input.public-chat-form-input(type='text', placeholder='Написать сообщение')
								//- button.public-chat-form-btn(type='submit')
								//- 	+icon("uil_smile")
								button.public-chat-form-btn(type='submit')
									+icon("feather_send")
	// end public-chat