mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.section-bg
		.section__inner
			.container-fluid
				.row
					.col-section.col-lg-auto
						+b.section-title-vertical
							+e.inner
								h2( ) О&nbsp;МЕРОПРИЯТИИ
								+e.shadow О&nbsp;МЕРОПРИЯТИИ
					.col-main.col
						+e.text
							p Главный отраслевой форум&nbsp;&mdash; Конвенция РОАД 2021&nbsp;ONline 14&nbsp;и&nbsp;15&nbsp;апреля соберёт более 2000 российских автодилеров, автопроизводителей, представителей государственной власти, экспертов отрасли и&nbsp;СМИ.
							//- p Насыщенная программа из&nbsp;25&nbsp;мероприятий сохранила привычный формат генеральных сессий и мастер-классов в&nbsp;параллельных потоках. Помимо образовательной составляющей ключевой частью форума является 3D -выставка оптимальных и&nbsp;инновационных продуктов, призванных сделать бизнес эффективным для каждого дилера России.
							//- p Приглашаем всех участников авторитейла!

							p: strong Обращаем внимание, что для посещения мероприятия обязательна регистрация. 
							a.btn.btn-white(href="#") Зарегистрироваться

						+e.picture-wrap
							+pic("about-1.jpg",'bg',0).pic-1
							+pic("about-2.jpg",'bg',0).pic-2

	// end sAbout