extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sLive/_sLive.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sSpeakers/_sSpeakers.pug
include ../blocks/sExponents/_sExponents.pug
include ../blocks/sPartners/_sPartners.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Востановление пароля'
	title= title
block pagecontent
	.main-wrapper
		+mob-mnu()
		+top-nav()
		+b.page-head.section

			.section__inner.container-fluid 
				+b.link-back(href="#")
					+icon("arrow-back")
				h1= title
		.section
			.section__inner.container-fluid
				+form-wrap
					.row 
						.col-xxl-5.col-lg-auto.order-last
							+e.aside-text.h5.strong Главный отраслевой форум соберет около 1000 участников&nbsp;&mdash; российских автодилеров, автопроизводителей, представителей государственной власти, экспертов отрасли и&nbsp;СМИ.
						.col
							+e.inner-reg
								+input("",'email','E-mail')
								button.btn.btn-md.btn-primary.w-100 Востановить пароль
								.smallest.pt-4 Забыли пароль? #[a(href="#"  ) Востановить]

		+footer

	