extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sLive/_sLive.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sSpeakers/_sSpeakers.pug
include ../blocks/sExponents/_sExponents.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sCabinet/_sCabinet.pug 
include ../blocks/sEvents/_sEvents.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Чаты'
	title= title
block pagecontent
	.main-wrapper
		+mob-mnu()
		+top-nav(login) 
		
		+sCabinet
			+sEvents-5
		+footer

	