extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sLive/_sLive.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sSpeakers/_sSpeakers.pug
include ../blocks/sExponents/_sExponents.pug
include ../blocks/sPartners/_sPartners.pug
include ../blocks/sMembers/_sMembers.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Участники'
	title= title
block pagecontent
	.main-wrapper
		+mob-mnu()
		+top-nav()
		+b.page-head.section

			.section__inner.container-fluid 
				+b.link-back(href="#")
					+icon("arrow-back")
				h1= title
		+sMembers8
		+footer

	