extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sLive/_sLive.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sSpeakers/_sSpeakers.pug
include ../blocks/sExponents/_sExponents.pug
include ../blocks/sPartners/_sPartners.pug

block variables
	- let  mainPage= 'main-page'
	- const bg= null;

block title
	- let  title= 'title'
	title= title
block pagecontent
	.main-wrapper#fullpage
		+mob-mnu()
		+top-nav()

		+headerBlock()
		+sLive
		+sAbout
		+sSpeakers
		//- +sExponents
		+sPartners
		//- +sForm()

		+sContact()



		