#fullpage .sPartners {
		--body-color: var(--body-bg);
}
	// start .sPartners
	
	.sPartners {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
			@include media-breakpoint-up(lg) { 
				.section__inner{ 
					padding-bottom: 0;
				}
			}
		
				.section-bg {
					background-color: #fff;
				}

			h2 {
				color: $dark;
			}
			.h5{
				font-weight: normal;
				margin-bottom: rem(40);
			}

			.section-title-vertical {
				padding-left: 15px;

				&__inner {

					@include media-breakpoint-up(lg) {
						max-height: rem(250);
						max-width: 100vh;
						overflow: hidden;
						padding-left: 10%;
					}

					h2 {
						text-align: left;
					}
				}

				&__shadow {
					margin-left: -20%;
					color: #494949;
					opacity: 0.1;
				}
			}

			&__title{
				max-width: rem(660);
			}
		
			// .container-fluid {

			// 	@include media-breakpoint-down(lg) {
			// 		padding-right: 0;
			// 		padding-left: 0;
			// 	}
			// }
			.col-main{
					@include media-breakpoint-up(lg) {

						height: auto;
						max-height: calc(var(--vh, 1vh) * 100 - var(--sPT));
						overflow-y: auto;
						// @extend .custom-scroll;
						// --scroll-size: 10px;
						padding-top: rem(80);
						padding-bottom: var(--sTPB);
					}
			}
			&__group-title{
					font-weight: bold;
					margin-bottom: rem(25);
			}
			&__group .row {
					align-items: center;
			}
			&__col{
				margin-bottom: rem(30);
				img{
					margin-bottom: rem(10);
				}
			}

			&--page{
				padding-bottom: var(--sPB);
				.row{

					--bs-gutter-x: #{rem(40)};
					align-items: inherit
				}
			}
			&__item{
				background-color: #fff;
				// margin-bottom: rem(20);
				img{
					margin-bottom: 0;
					max-width: 90%;
					@include a-cent1;
					max-height: 90%;
				}
				picture{
					width: 100%;
					@include block(368,241);
					text-align: center;
				}
			}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sPartners