mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section.scrollable#sPartners&attributes(attributes)
		.section-bg
		.section__inner
			.container-fluid
				.row 
					.col-section.col-lg-auto
						+b.section-title-vertical
							+e.inner
								h2( ) Партнеры
								+e.shadow Партнеры
					.col-main.col
						+e.title.h5 Если вы&nbsp;хотите стать нашим партнером, свяжитесь с&nbsp;нами по&nbsp;почте #[a(href="mailto:asroad@asroad.org") asroad@asroad.org] или телефону&nbsp; #[a.strong.text-body(href="tel:+7(495)211-29-88") +7 (495) 211-29-88]
						
						+e.group
							+e.group-title Генеральный партнер
							.row
								+logop(1,'ООО «Газпромнефть-СМ»')
						+e.group
							+e.group-title Золотые партнеры
							.row
								+logop(2)
								+logop(3)
						- for (var x = 0; x < 5; x++)
							+e.group
								+e.group-title Информационные партнеры
								.row
									+logop(4)
									+logop(5)
									+logop(6)
									+logop(7)
									+logop(4)
									+logop(5)
									+logop(6)
									+logop(7)
									
						
mixin sPartners10(data)
	// start sPartners
	+b.sPartners--page.section.scrollable#sPartners&attributes(attributes) 
		.container-fluid 
			+e.title.h5 Если вы&nbsp;хотите стать нашим партнером, свяжитесь с&nbsp;нами по&nbsp;почте #[a(href="mailto:asroad@asroad.org") asroad@asroad.org] или телефону&nbsp; #[a.strong.text-body(href="tel:+7(495)211-29-88") +7 (495) 211-29-88]
			
			+e.group
				+e.group-title.h4 Генеральный партнер
				.row
					+logoitem(1,'ООО «Газпромнефть-СМ»') 
					+logoitem(1,'ООО «Газпромнефть-СМ»') 
			+e.group
				+e.group-title.h4 Золотые партнеры
				.row
					+logoitem(2)
					+logoitem(3) 
				+e.group
					+e.group-title.h4 Информационные партнеры
					.row
						+logoitem(4)
						+logoitem(5)
						+logoitem(6)
						+logoitem(7)
						+logoitem(4)
						+logoitem(5)
						+logoitem(6)
						+logoitem(7)
								
						
						
mixin sPartners11(data)
	// start sPartners
	+b.sPartners--page.section.scrollable#sPartners&attributes(attributes) 
		.container-fluid 
			+b.head-filter(  )
				.row
					+e.col.col-xl-6
						+b.search-block
							+input('Поиск по ФИО')
							+e.btn(type="submit")
								+icon('search')
			+e.group
				+e.group-title.h4 Дилеры
				.row
					+logoitem(1,'ООО «Газпромнефть-СМ»') 
						.pt-3 
							.strong Hyunday
							p Описание компании в одну  или несколько строк
					+logoitem(1,'ООО «Газпромнефть-СМ»') 
						.pt-3 
							.strong Hyunday
							p Описание компании в одну  или несколько строк
					+logoitem(1,'ООО «Газпромнефть-СМ»') 
						.pt-3 
							.strong Hyunday
							p Описание компании в одну  или несколько строк
					+logoitem(1,'ООО «Газпромнефть-СМ»') 
						.pt-3 
							.strong Hyunday
							p Описание компании в одну  или несколько строк
			+e.group
				+e.group-title.h4 Информационные технологии
				.row
					+logoitem(2)
						.pt-3 
							.strong Hyunday
							p Описание компании в одну  или несколько строк
					+logoitem(3) 
						.pt-3 
							.strong Hyunday
							p Описание компании в одну  или несколько строк
					+logoitem(2)
						.pt-3 
							.strong Hyunday
							p Описание компании в одну  или несколько строк
					+logoitem(3) 
						.pt-3 
							.strong Hyunday
							p Описание компании в одну  или несколько строк
				+e.group
					+e.group-title.h4 Автосалоны
					.row
						+logoitem(4)
							.pt-3 
								.strong Hyunday
								p Описание компании в одну  или несколько строк
						+logoitem(5)
							.pt-3 
								.strong Hyunday
								p Описание компании в одну  или несколько строк
						+logoitem(6)
							.pt-3 
								.strong Hyunday
								p Описание компании в одну  или несколько строк
						+logoitem(7)
							.pt-3 
								.strong Hyunday
								p Описание компании в одну  или несколько строк
								
			+pugin
	// end sPartners
mixin logoitem(i, a)
	+e.col.col-sm-3.col-6 
		+e.item()
			+pic(`logop-${i}.png`,'',0)
		if block
			block
		else
			.smallest.text-center.pt-2 ООО «Газпромнефть-СМ»
mixin logop(i, a)
	+e.col.col-sm-3.col-6 
		+pic(`logop-${i}.png`,'',0)
		if a
			a(href="#")= a 
//- 	+e.slide.swiper-slide 
//- 		+b.speaker-item
//- 			+e.img-wrap.bg-wrap
//- 				img.swiper-lazy.img-bg(data-src=`img/@2x/webp/speak-${i}.webp`, src="#", alt="")
//- 			+e.title= t
//- 			p.strong= pr
//- 			p!= p