.navMenu{
		@include media-breakpoint-up(xxl){

			--sp-x: #{rem(55)};
		}
		--sp-x: #{rem(20)};
	display: flex;
	list-style: none;
	margin-left: calc(-1 * var(--sp-x));
	margin-right: calc(-1 * var(--sp-x)); 
	position: relative;
	margin-bottom: 0; 
	flex-wrap: wrap;
	&__item{
		padding: 0;
	}
	&__link{
		display: block;
		text-align: center;
		padding: rem(10) calc(var(--sp-x)/ 2);
		color: #fff ;
		font-weight: bold;
	}
}

.navMenu--not-login{
	li{
		position: relative;
		&::before{
			content: 'Пожалуйста войдите или зарегистрируйтесь';
			position: absolute;
			@include a-cent1(x);
			top: calc(100% + #{rem(6px)});
			background-color: $primary;
			color: var(--body-color);
			border-radius: 4px;
			padding: rem(4) rem(8);
			text-align: center;
			max-width: rem(240);
			font-size: rem(12);
			opacity: 0;
			@include mt;
		}
		&::after{
			content: '';
			@include triangle(rem(12px), $primary, up);
			@include a-cent1(x);
			top: 100%;
			opacity: 0;
			@include mt;

		}
		&:hover{
			&::after,
			&::before{
				opacity: 1;
			}
		}
	}
	a{
		pointer-events: none;
	}
}