body:not(.main-page) .top-nav {
	background-color: var(--body-bg);
}
.top-nav {
	position: fixed;
	z-index: 200;
	border-bottom: 1px solid rgba($color: #fff, $alpha: .1);
	width: 100%;
	top: 0;
	left: 0;
	.row{
		justify-content: flex-end;
	}
		@include media-breakpoint-up(xxl){
			
			// padding-right: rem(72);
		}
		@include media-breakpoint-down(xl){
	background: #494949;
		}
	.row{
		align-items: center;
	}
	&__logo{
		display: flex;
		align-items: center;
		justify-content: center;
		width: var(--logo-size);
		height: var(--logo-size);
		@extend .btn;
		@extend .btn-dark;
		padding: 0;
		border-radius: 0;
		img{
			width: 76%;
		}
	}
	&__btn{
		@extend .btn;
		
		&--reg{
			@include media-breakpoint-up(xl) {
				width: rem(272);
			}
			@include media-breakpoint-up(lg) {
				width: rem(180);
			}
		}
		&--cabinet{
			width: rem(56);
			height: rem(56);
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			.icon{
				font-size: rem(20);
			}
		}
	}
	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}


