include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug


mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('arrow-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('arrow-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->







mixin reg()
	+form-wrap
		.row 
			.col-lg-auto.order-lg-last
				+b.LABEL.photo-block
					input(type="file")
					+e.title  Выберите фото вашего профиля
					+e.foot Изображение JPG или PNG не&nbsp;более 2&nbsp;mb
			.col
				+e.inner-reg
					.row 
						.col-xl-4.col-sm-6 
							+input("",'text','Имя')(value='Юрий')
						.col-xl-4.col-sm-6 
							+input("",'text','Отчество')
						.col-xl-4.col-sm-6 
							+input("",'text','Фамилия')
						.col-xl-4.col-sm-6 
							+input("",'email','E-mail')
						.col-xl-4.col-sm-6 
							+input("",'tel','Телефон')
						.col-xl-4.col-sm-6 
							+input("",'select','Выберите регион')
						.col-12
							.h5.fw-400.mb-3 Тип участия:
							.row
								.col-auto.mb-4
										+in-c('radio','Дилер')(data-tab-radio="block-base",checked)
								.col-auto.mb-4
									+in-c('radio','Экспонент')(data-tab-radio="block-exponent")
								.col-auto.mb-4
									+in-c('radio','Партнер')(data-tab-radio="block-base")
								.col-auto.mb-4
									+in-c('radio','Производитель')(data-tab-radio="block-base")
								.col-auto.mb-4
									+in-c('radio','СМИ')(data-tab-radio="block-base")
								.col-auto.mb-4
									+in-c('radio','Другое')(data-tab-radio="block-base")
						.col-xl-4.col-sm-6
							.tab-radio-content#block-base 
								+input("",'text','Компания')
									span.smallest название компании без ООО и “”
							.tab-radio-content#block-exponent
								+input("",'select','Компания')
						.col-xl-4.col-sm-6 
							+input("",'text','Должность') 
						.col-12
						.col-xl-4.col-sm-6 
							+input("",'password','Пароль')
						.col-xl-4.col-sm-6 
							+input("",'password','Повторите пароль')
						.col-12 
						.col-xl-4.col-sm-6.mb-3
							button.btn.btn-md.btn-primary.w-100 Зарегистрироваться
						.col-xl-4.col-sm-6.pt-2 
							.smallest Отправляя форму я принимаю условия #[a(href="#"  ) Политики конфиденциальности]
