mixin sLive(data)
	// start sLive
	+b.SECTION.sLive.section#sLive&attributes(attributes)
		.section__inner
			.container-fluid
				.row
					.col-section.col-lg-auto
						+b.section-title-vertical
							+e.inner
								h2( ) LIVE
								+e.shadow LIVE
					.col-main.col-lg.col-12
						//- +e.video(href="https://www.youtube.com/watch?v=7wjG4eQnuYk" data-fancybox="video").bg-wrap
						//- 	+pic("video.jpg",'bg').picture-bg
						+e.video 
							<iframe width="560" height="315" src="https://www.youtube.com/embed/KLYkx5MWHFs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" loading="lazy" allowfullscreen></iframe>
	// end sLive