mixin sQuestions()
	// start sQuestions
	+b.sQuestions&attributes(attributes)
		.container 
			+e.wrap
				.live-track-info-questions-box.ps.ps--active-y
					section.live-track-info-questions-item
						header.live-track-info-questions-item-title
							div
								| Для 
								span 
									| Татьяна Наумова
							.live-track-info-questions-item-date
								| 11:46
						.live-track-info-questions-item-text
							div
								p Какие революционные проекты в цифровизации появятся после карантина ?
						footer.live-track-info-questions-item-footer
							.live-track-info-questions-item-author
								| Виктор Пайет, Москва
							.live-track-info-questions-item-like
								img(src='img/live/like.svg')
								|  2
					section.live-track-info-questions-item
						header.live-track-info-questions-item-title
							div
								| Для 
								span 
									| Анатолий Чубайс
							.live-track-info-questions-item-date
								| 10:55
						.live-track-info-questions-item-text
							div
								p
									| Скажите пожалуйста, какие ещё инструменты и сценарии которые были задействованы во время карантина на Ваш взгляд стоит неприменно задействовать в дальнейшем?
						footer.live-track-info-questions-item-footer
							.live-track-info-questions-item-author
								| Виктор Пайет, Москва
							.live-track-info-questions-item-like
								img(src='img/live/like.svg')
								|  2
					section.live-track-info-questions-item
						header.live-track-info-questions-item-title
							div
								| Для 
								span 
									| Анатолий Чубайс
							.live-track-info-questions-item-date
								| 10:50
						.live-track-info-questions-item-text
							div
								p Всё-таки, победа будет за НАНО или за ЭКО?
						footer.live-track-info-questions-item-footer
							.live-track-info-questions-item-author
								| Виктор Пайет, Москва
							.live-track-info-questions-item-like
								img(src='img/live/like.svg')
								|  2
					section.live-track-info-questions-item
						header.live-track-info-questions-item-title
							div
								| Для 
								span 
									| Анатолий Чубайс
							.live-track-info-questions-item-date
								| 10:49
						.live-track-info-questions-item-text
							div
								p
									| Скажите пожалуйста, рассматриваете ли Вы на ближайшую перспективу проекты связанные с киборгизацией человека?
						footer.live-track-info-questions-item-footer
							.live-track-info-questions-item-author
								| Виктор Пайет, Москва
							.live-track-info-questions-item-like
								img(src='img/live/like.svg')
								|  1
					section.live-track-info-questions-item
						header.live-track-info-questions-item-title
							div
								| Для 
								span 
									| Александр Акопов
							.live-track-info-questions-item-date
								| 10:48
						.live-track-info-questions-item-text
							div
								p Какие изменения во время карантина положительно повлияли на Вашу жизнь?
						footer.live-track-info-questions-item-footer
							.live-track-info-questions-item-author
								| Виктор Пайет, Москва
							.live-track-info-questions-item-like
								img(src='img/live/like.svg')
								|  0
					section.live-track-info-questions-item
						header.live-track-info-questions-item-title
							div
								| Для 
								span 
									| Александр Кулешов
							.live-track-info-questions-item-date
								| 10:48
						.live-track-info-questions-item-text
							div
								p
									| Добрый день. Хочется задать вопрос ВСЕМ СПИКЕРАМ, верят ли они в угрозу перенаселения земли?
						footer.live-track-info-questions-item-footer
							.live-track-info-questions-item-author
								| Виктор Пайет, Москва
							.live-track-info-questions-item-like
								img(src='img/live/like.svg')
								|  1
					section.live-track-info-questions-item
						header.live-track-info-questions-item-title
							div
								| Для 
								span 
									| Александр Акопов
							.live-track-info-questions-item-date
								| 10:46
						.live-track-info-questions-item-text
							div
								p
									| Как вы думаете, будет ли когда-нибудь стартап и высокотехнологичные отрасли драйвером развития России? И будет ли когда-нибудь стартап отрасль России привлекательной в глобальном масштабе?
						footer.live-track-info-questions-item-footer
							.live-track-info-questions-item-author
								| Виктор Пайет, Москва
							.live-track-info-questions-item-like
								img(src='img/live/like.svg')
								|  1
					section.live-track-info-questions-item
						header.live-track-info-questions-item-title
							div
								| Для 
								span 
									| Анатолий Чубайс
							.live-track-info-questions-item-date
								| 10:40
						.live-track-info-questions-item-text
							div
								ol
									li
										| будет ли применяться практика импортозамещения программного обеспечения не только на отдельные виды организаций, но и на весь бизнес РФ?
									li
										| будет ли рекомендательный характер распоряжения правительства 1588-р о планах перехода на отечественный софт сменен на обязательный характер?
						footer.live-track-info-questions-item-footer
							.live-track-info-questions-item-author
								| Виктор Пайет, Москва
							.live-track-info-questions-item-like
								img(src='img/live/like.svg')
								|  2
					section.live-track-info-questions-item
						header.live-track-info-questions-item-title
							div
								| Для 
								span 
									| Анатолий Чубайс
							.live-track-info-questions-item-date
								| 10:19
						.live-track-info-questions-item-text
							div
								p
									| Пандемия вообще, и текущая в частности - это зло или добро с точки зрения развития Человечества?
						footer.live-track-info-questions-item-footer
							.live-track-info-questions-item-author
								| Виктор Пайет, Москва
							.live-track-info-questions-item-like
								img(src='img/live/like.svg')
								|  6
					// 
					.ps__rail-x(style='left: 0px; bottom: 0px;')
						.ps__thumb-x(tabindex='0', style='left: 0px; width: 0px;')
					.ps__rail-y(style='top: 0px; right: 0px; height: 672px;')
						.ps__thumb-y(tabindex='0', style='top: 0px; height: 322px;')

	// end sQuestions